.wrapper {
  padding: 1rem 3rem;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}

.button{
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: chartreuse;
}

.table-title {
  margin-bottom: 2rem !important;
  text-decoration-line: underline;
}

.stored-item {
  display: flex;
  justify-content: space-evenly;
  flex-basis: auto;
  align-self: stretch;
  align-items: stretch;
  margin-bottom: 1rem;
}

.item-container {
  display: flex;
  text-align: center;
  flex-flow: column wrap;
}

.text-container {
  align-self: center;
  width: 10rem;
  border-left: 1px solid black;
  align-self: center;
}

.text-container:first-child {
  border-left: 0px;
}
